<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" [ngClass]="getModalClass()">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel">
            {{ modalType === 'success' ? 'Success' : 'Failure' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ successMessage }}</p>
        </div>
        <div class="modal-footer" *ngIf="modalType === 'success'">
          <button type="button" class="btn btn-secondary" *ngIf="reloadFlag" (click)="reloadForNewMember()">Add New</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="modalType === 'success'">Add Family Members</button>
        </div>
      </div>
    </div>
  </div>
  