<div class="logo">
    <img src="assets/logo-1.png" alt="" />
  </div>
  
<div class="container-fluid mt-5 banner">
    <div class="row">
        <div class="col textarea">
        <h1>Save your Family</h1>
        <p>At no Cost for an Ambulance</p>
        </div>
    </div>

    <div class="row">
        <div class="col banner-image">
        <img src="assets/ambulance.png" alt="Ambulance Image" class="img-fluid banner-image">
        </div>
    </div>
</div>

<div class="floating-icons">
<!-- WhatsApp Icon -->
    <a href="https://wa.me/yourPhoneNumber" target="_blank" class="icon whatsapp">
        <i class="fab fa-whatsapp"></i>
    </a>

    <!-- Call Icon -->
    <a href="tel:+yourPhoneNumber" class="icon call">
        <i class="fas fa-phone-alt"></i>
    </a>

    <!-- Mail Icon -->
    <a href="mailto:yourEmail@example.com" class="icon mail">
        <i class="fas fa-envelope"></i>
    </a>
</div>
  